# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# SSH
ssh_key
ssh_key.pub

# Terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
terraform.tfstate.lock.info
clouds.yaml
config.yaml
.terraform/
app-cred-app_cred1-openrc.sh

jumphost

# Ansible
inventories
vault-pass.txt
ansible/roles

jq.py
local_env.sh

README.md