providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    watch: true
    exposedByDefault: true

entryPoints:
  insecure:
    address: ":80"
  secure:
    address: ":443"

certificatesResolvers:
  letsencrypt:
    acme:
      email: "noreply@forestier.re"
      storage: "/acme.json"
      keyType: "EC256"
      httpChallenge:
        entryPoint: "insecure"
        